<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bnviewpager.kontak_teman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="shared_pref"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bnviewpager.kontak_teman.tambah_teman"></activity>
        <activity android:name="com.bnviewpager.kontak_teman.detail_activity" />
        <activity android:name="com.bnviewpager.kontak_teman.data_teman" />
        <activity android:name="com.bnviewpager.kontak_teman.WelcomeActivity" />
        <activity android:name="com.bnviewpager.kontak_teman.LoginActivity" />
        <activity android:name="com.bnviewpager.kontak_teman.MainActivity" />
        <activity android:name="com.bnviewpager.kontak_teman.RegisterActivity" />
        <activity android:name="com.bnviewpager.kontak_teman.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>